

<div class="nameProfile">
    <div>
      <h1>Bienvenido {{user.username}}</h1>
      <h5><b>{{user.name}}</b></h5>
    </div>
    <div>
  <a class="btn btn-sm btn-dark btn-block mb-1 buttonBackground" href="/update-profile/{{user._id}}">Update profile</a>
  <a class="btn btn-sm btn-dark btn-block mb-1 buttonBackground" href="/logout">Logout</a>
    </div>
</div>

<div id="userTagInfo">
  <div class="disFlex">
    <div class="userTag">
      {{#if userTag}}
      <h4 class="center" >Clash User:  <b>{{userTag.name}}</b></h4>
      <div  class="userName">
      <p>Arena:   <b>{{userTag.arena.name}}</b></p>
      <p>Clan:   <b>{{userTag.clan.name}}</b></p>
      <p>Exp Level:   <b>{{userTag.expLevel}}</b></p>
      <p>Trophies:   <b>{{userTag.trophies}}</b></p>
      <p>Wins:   <b>{{userTag.wins}}</b></p>
      <p>Losses:   <b>{{userTag.losses}}</b></p>
      <p>Win ratio: <b>{{avg}}</b></p>
      </div>
    </div>
    <div class="center">
      <h4>Favorite card</h4>
      <img src="{{userTag.currentFavouriteCard.iconUrls.medium}}" class="img"></img> 
      <p>{{userTag.currentFavouriteCard.name}}</p>
    </div>
  <div>
      <h3 class="center">Current Deck</h3>
  <div id="deck">
      {{#each userTag.currentDeck}}
      <div class="card">
      <img src="{{iconUrls.medium}}" class="img"></img> 
      <p>{{name}}</p>
      </div>
      {{/each}}

  </div>
  </div>

    {{!-- lista chest --}}
  <div> 
    <div class="listaChest centrado">
      <h4>Up comming chest</h4>
        <ol>
            {{#each chest}}
            <li>{{name}}</li>
            {{!-- <img src="{{iconUrls}}" class="imgChest" chest="{{name}}"></img>  --}}
            {{/each}}
        </ol>
    </div>
  </div>
  </div>
      {{/if}}
  
  
</div>

</b>
<br>
<br>
<br>
<br>
<br>
<br>
{{!-- {{#each user.favorites}}
<img src={{iconUrls}} alt={{name}}>
<p>{{name}}</p>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>

<button type="submit">borrar favorito</button>
</form>
{{/each}} --}}
<h2 class="center"> Favorite cards ❤️</h2> 
<div id="favorite">
{{#each user.favorites}}
<div id="favoriteCards" class="card">
  <div  class="bg-image hover-overlay ripple " data-mdb-ripple-color="light">
    <img src={{iconUrls}} alt={{name}} class="img-fluid"/>
   
  </div>
  <div class="card-body center">
    <h5 class="card-title">{{name}}</h5>
    
    <form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>
    <button type="submit" class="btn btn-primary">borrar favorito</button>
    </form>

    {{!-- <form action = "/deck" method="POST">
    <input type="hidden" name="id" value={{_id}}>
    <button type="submit" class="btn btn-primary">Add to deck</button>
    </form> --}}
  </div>
</div>
{{/each}}
</div>