


<h1>Bienvenido {{user.username}}</h1>
<h5><b>{{user.name}}</b></h5>
<a href="/update-profile/{{user._id}}">Update profile</a>
{{#if userTag}}
<h5>In game name: <b>{{userTag.name}}</b></h5>
<h6>Actual arena: <b>{{userTag.arena.name}}</b></h6>
<h6>Clan: <b>{{userTag.clan.name}}</b></h6>
<h6>{{userTag.currentFavouriteCard.name}}</h6>
<img src="{{userTag.currentFavouriteCard.iconUrls.medium}}"></img> 
<p>Exp Level: <b>{{userTag.expLevel}}</b></p>
<p>Trophies: <b>{{userTag.trophies}}</b></p>
<p>Wins: <b>{{userTag.wins}}</b></p>
<p>Losses: <b>{{userTag.losses}}</b></p>
<p>Win ratio: <b>{{avg}}</b></p>
<h4>Current Deck:</h4>
{{#each userTag.currentDeck}}
<img src="{{iconUrls.medium}}"></img> 
<p>{{name}}</p>
{{/each}}
{{/if}}
</b>
<br>
<br>
<br>
              <a class="nav-link" href="/logout">Logout</a>
<br>
<br>
<br>
{{!-- {{#each user.favorites}}
<img src={{iconUrls}} alt={{name}}>
<p>{{name}}</p>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>

<button type="submit">borrar favorito</button>
</form>
{{/each}} --}}
{{#each user.favorites}}
<div class="card">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src={{iconUrls}} alt={{name}} class="img-fluid"/>
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    <form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>
    <button type="submit" class="btn btn-primary">borrar favorito</button>
    </form>

    <form action = "/deck" method="POST">
    <input type="hidden" name="id" value={{_id}}>
    <button type="submit" class="btn btn-primary">Add to deck</button>
    </form>
  </div>
</div>
{{/each}}