<h1>Bienvenido {{user.username}}</h1>

<h3>{{userTag.name}}</h3>

<br>
{{#each user.favorites}}
<img src={{iconUrls}} alt={{name}}>
<p>{{name}}</p>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>

<button type="submit">borrar favorito</button>
</form>
{{/each}}

