<h1>Bienvenido {{user.username}}</h1>
{{#if userTag}}
<h3>{{userTag.name}}</h3>
<h5>Arena: {{userTag.arena.name}}</h5>
<h6>{{userTag.currentFavouriteCard.name}}</h6>
<img src="{{userTag.currentFavouriteCard.iconUrls}}"></img> 
<p>Exp Level: {{userTag.expLevel}}</p>
<p>Trophies: {{userTag.trophies}}</p>
<p>Wins: {{userTag.wins}}</p>
<p>Losses: {{userTag.losses}}</p>
<p>Win ratio: {{avg}}</p>
{{/if}}

<br>
{{#each user.favorites}}
<img src={{iconUrls}} alt={{name}}>
<p>{{name}}</p>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>

<button type="submit">borrar favorito</button>
</form>
{{/each}}

