



  <h1 style="margin: 30px;" class="center">Cards list</h1>

  <div id="favorite" >
  {{!-- image name status --}}
    {{#each cards}}
    <div id="favoriteCards" class='col center'>
        <img src="{{iconUrls.medium}}" alt="">
        <h5>{{name}}</h5>
        <p>Max level: <b>{{maxLevel}}</b></p>
        <form action = "/add-favorite" method="POST">         
          <input type="hidden" name="name" value={{name}}>
          <input type="hidden" name="apiId" value={{id}}>
          <input type="hidden" name="maxLevel" value={{maxLevel}}>
          <input type="hidden" name="iconUrls" value={{iconUrls.medium}}>
          <button class="btn btn-dark buttonBackground btn-sm gold" type="submit">Añadir a favoritos</button>
        </form>
      
    </div>
    {{/each}}    
  </div>


